# Operating System Files
.DS_Store
Thumbs.db

# Editor Directories and Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
# node_modules/ (if you ever add JS dependencies)

# Build output (if applicable)
# dist/
# build/ 
